<!DOCTYPE html>
<html layout:decorate="~{template.html}">

<body>
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Adicionar Endereço</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Breadcumb Area End ##### -->
<div layout:fragment="conteudo">
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">

                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="mb-2">
                                        <img th:src="@{/images/cadastro.jpg}" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12"
                                     style="padding: 5%; background: #a7a7a700; box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); border-radius: 15px;">
                                    <form method="post" th:action="@{/login/endereco}">
                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="street_address">Rua <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control mb-3" id="street_address"
                                                           th:field="${endereco.rua}"
                                                           th:classappend="${#fields.hasErrors('endereco.rua')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.rua')}"
                                                         th:errors="${endereco.rua}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="numero">Numero <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control" id="numero"
                                                           th:field="${endereco.numero}"
                                                           th:classappend="${#fields.hasErrors('endereco.numero')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.numero')}"
                                                         th:errors="${endereco.numero}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="postcode">CEP <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control" id="postcode"
                                                           th:field="${endereco.cep}"
                                                           th:classappend="${#fields.hasErrors('endereco.cep')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.cep')}"
                                                         th:errors="${endereco.cep}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="district">Bairro <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control" id="district"
                                                           th:field="${endereco.bairro}"
                                                           th:classappend="${#fields.hasErrors('endereco.bairro')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.bairro')}"
                                                         th:errors="${endereco.bairro}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="city">Cidade <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control" id="city"
                                                           th:field="${endereco.cidade}"
                                                           th:classappend="${#fields.hasErrors('endereco.cidade')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.cidade')}"
                                                         th:errors="${endereco.cidade}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="state">Estado <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control" id="state"
                                                           th:field="${endereco.estado}"
                                                           th:classappend="${#fields.hasErrors('endereco.estado')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.estado')}"
                                                         th:errors="${endereco.estado}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="complemento">Complemento </label>
                                                <input type="text" class="form-control" id="complemento"
                                                       th:field="${endereco.complemento}">
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label for="state">Apelido <span>*</span></label>
                                                <div>
                                                    <input type="text" class="form-control" id="apelido"
                                                           th:field="${endereco.apelido}"
                                                           th:classappend="${#fields.hasErrors('endereco.apelido')}? is-invalid">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endereco.apelido')}"
                                                         th:errors="${endereco.apelido}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="submit" class="btn essence-btn" value="Cadastrar ">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>