<!DOCTYPE html>
<html>
<head layout:decorate="~{template.html">
</head>

<body>
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="img/login-bg.jpg" alt="" id="bgprincipal">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Cadastre-se agora</h2>
                            <div class="row">
                                <div class="col-md-12" style="padding: 5%; background: #a7a7a775; box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); border-radius: 15px;">
                                    <h3>Login</h3>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Seu e-mail" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Sua senha" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn essence-btn" value="Login">
                                        </div>
                                        <div class="form-group">
                                            <a href="#" class="ForgetPwd">Novo? Cadastre-se agora</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>