<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Cadastro Usuário</title>
</head>
<body>
<form method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <div>
                <input type="text" name="nome" class="form-control" th:classappend="${#fields.hasErrors('usuario.nome')}? is-invalid" id="nome" th:field="${usuario.nome}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.nome')}" th:errors="${usuario.nome}">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="nascimento">Data de Nascimento</label>
            <div>
                <input type="date" name="nascimento" class="form-control" th:classappend="${#fields.hasErrors('usuario.nascimento')}? is-invalid" id="nascimento"  th:field="${usuario.nascimento}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.nascimento')}" th:errors="${usuario.nascimento}">
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cpf">CPF</label>
            <div>
                <input type="text" name="cpf" class="form-control" th:classappend="${#fields.hasErrors('usuario.cpf')}? is-invalid" id="cpf"  th:field="${usuario.cpf}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.cpf')}" th:errors="${usuario.cpf}">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="sexo">Sexo</label>
            <select id="sexo" class="form-control" name="sexo">
                <option selected>Selecione...</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="rg">RG</label>
            <div>
                <input type="text" name="rg" class="form-control" th:classappend="${#fields.hasErrors('usuario.rg')}? is-invalid" id="rg"  th:field="${usuario.rg}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.rg')}" th:errors="${usuario.rg}">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="telefone">Telefone</label>
            <div>
                <input type="text" name="telefone" class="form-control" th:classappend="${#fields.hasErrors('usuario.telefone')}? is-invalid" id="telefone"  th:field="${usuario.telefone}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.telefone')}" th:errors="${usuario.telefone}">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <div>
                <input type="text" name="email" class="form-control" th:classappend="${#fields.hasErrors('usuario.email')}? is-invalid" id="email"  th:field="${usuario.email}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.email')}" th:errors="${usuario.email}">
                </div>
            </div>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="endereco">Endereço</label>
            <div>
                <input type="text" name="endereco" class="form-control" th:classappend="${#fields.hasErrors('usuario.endereco')}? is-invalid" id="endereco"  th:field="${usuario.endereco}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.endereco')}" th:errors="${usuario.endereco}">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <div>
                <input type="password" name="senha" class="form-control" th:classappend="${#fields.hasErrors('usuario.senha')}? is-invalid" id="senha"  th:field="${usuario.senha}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario.senha')}" th:errors="${usuario.senha}">
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
        </div>
        <div class="form-group col-md-4 text-center">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Cadastrar</button>
        </div>
        <div class="form-group col-md-4">
        </div>
    </div>
</form>
</body>
</html>