<!DOCTYPE html>
<html layout:decorate="~{template.html}">

<body>
<div layout:fragment="conteudo">

    <section class="single_product_details_area d-flex align-items-center"> <!-- conteudo principal de um produto -->

        <div class="single_product_thumb clearfix" style="text-align: center">
                <img th:src="@{/images/{id}.jpg(id=${produto.idProduto})}" alt="">
        </div>

        <div class="single_product_desc clearfix">
            <span>Pet Tades</span>
            <a href="cart.html">
                <h2 th:text="${produto.nome}"></h2>
            </a>
            <p class="product-price" th:text="'R$' + ${produto.preco}"></p>
            <p class="product-desc" th:text="${produto.descricao}"></p>

            <form class="cart-form clearfix" method="post"> <!-- botao para adicionar ao carrinho -->
                <div class="cart-fav-box d-flex align-items-center">
                    <button type="submit" name="addtocart" value="5" class="btn essence-btn"
                            style="border-radius: 5px;">Adicionar para o carrinho
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
</body>

</html>