<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pet Tades - INDEX</title>
    <link th:href="@{/css/core-style.css}" rel="stylesheet">
    <!--<link rel="stylesheet" href="style.css">-->
</head>

<body>
    
    <header class="header_area"> <!-- Menu Principal -->
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <nav class="classy-navbar" id="essenceNav">
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <div class="classy-menu">
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <div class="classynav">
                        <ul>
                            <li><a th:href="@{/index.html}">Home</a></li>
                            <li><a href="#">Alimentação</a></li>
                            <li><a href="#">Brinquedos</a></li>
                            <li><a href="#">Acessórios</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="header-meta d-flex clearfix justify-content-end">
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img th:src="@{/images/core-img/bag.svg}" alt=""></a> <!-- carrinho de compras -->
                </div>
                <div class="user-login-info">
                    <a href="../templates/login.html"><img th:src="@{/images/core-img/user.svg}" alt=""></a> <!-- login -->
                </div>
            </div>

        </div>
    </header>
    
    <div class="cart-bg-overlay"></div>
    <div class="right-side-cart-area"> <!-- conteudo do carrinho de compras -->

        <div class="cart-button">
            <a href="#" id="rightSideCart"><img th:src="@{/images/core-img/bag.svg}" alt=""></a>
        </div>

        <div class="cart-content d-flex"> 

            <div class="cart-list">
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img th:src="@{/images/product-img/brinquedo.webp}" class="cart-thumb" alt="">
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Pet Tades</span> <!-- marca do produto -->
                            <h6>Macaco Maluco</h6> <!-- nome do produto -->
                            <p class="size">Quantidade: 1</p> <!-- quantidade que ele quer comprar -->
                            <p class="price">R$20.00</p> <!-- valor por unidade -->
                        </div> 
                    </a>
                </div>

                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img th:src="@{/images/product-img/racao.webp}" class="cart-thumb" alt="">
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Pet Tades</span>
                            <h6>Ração Super Premium</h6>
                            <p class="size">Quantidade: 2</p>
                            <p class="price">R$30.00</p>
                        </div>
                    </a>
                </div>

                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img th:src="@{images/product-img/tapete.webp}" class="cart-thumb" alt="">
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Pet Tades</span>
                            <h6>Tapete Higiênico</h6>
                            <p class="size">Quantidade: 1</p>
                            <p class="price">R$50.00</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="cart-amount-summary"> <!-- resumo das compras -->

                <h2>Resumo</h2>
                <ul class="summary-table">
                    <li><span>total:</span> <span>R$130.00</span></li>
                    <li><span>frete:</span> <span>gratis</span></li>
                    <li><span>total:</span> <span>R$130.00</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="#" class="btn essence-btn" style="border-radius: 3px;">finalizar compra</a>
                </div>
            </div>
        </div>
    </div>

    <!-- slider principal -->
    <section class="welcome_area bg-img background-overlay" id="sliderprincipal">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-8">
                </div>
                <div class="col-4" style="text-align: center;">
                    <div class="hero-content">
                        <h2>Tudo para o seu PET!</h2>
                        <a href="#" class="btn essence-btn" style="border-radius: 5px;">Ver novidades</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- acesso direto para categorias -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                <div class="col-12 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../static/images/alimentos.jpeg);">
                        <div class="catagory-content">
                            <a href="#">ALIMENTOS</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../static/images/brinquedos.jpg);">
                        <div class="catagory-content">
                            <a href="#">BRINQUEDOS</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../static/images/acessorios.jpg);">
                        <div class="catagory-content">
                            <a href="#">ACESSÓRIOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- produtos em destaque -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Produtos em Destaque</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                        <div class="single-product-wrapper">
                            <div class="product-img">
                                <img th:src="@{/images/product-img/snack.webp}" alt=""> <!-- img do produto -->
                                <img class="hover-img" th:src="@{/images/product-img/snack.webp}" alt=""> <!-- img em hover -->
                            </div>
                            <div class="product-description">
                                <span>Pet Tades</span> <!-- empresa do produto -->
                                <a href="produto-interno.html">
                                    <h6>Snack Proteico</h6> <!-- nome do produto -->
                                </a>
                                <p class="product-price">R$20.00</p> <!-- preço -->

                                <div class="hover-content">
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn">Adicionar</a> <!-- Adicionar ao carrinho -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-product-wrapper">
                            <div class="product-img">
                                <img th:src="@{/images/product-img/brinquedo.webp}" alt="">
                                <img class="hover-img" th:src="@{/images/product-img/brinquedo.webp}" alt="">
                            </div>
                            <div class="product-description">
                                <span>Pet Tades</span>
                                <a href="produto-interno.html">
                                    <h6>Brinquedo Macaco Maluco</h6>
                                </a>
                                <p class="product-price">R$40.00</p>

                                <div class="hover-content">
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn">Adicionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-product-wrapper">
                            <div class="product-img">
                                <img th:src="@{/images/product-img/racao.webp}" alt="">
                                <img class="hover-img" th:src="@{/images/product-img/racao.webp}" alt="">

                            </div>
                            <div class="product-description">
                                <span>Pet Tades</span>
                                <a href="produto-interno.html">
                                    <h6>Ração Super Premiu,</h6>
                                </a>
                                <p class="product-price"><span class="old-price">R$75.00</span> R$55.00</p>

                                <div class="hover-content">
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn">Adicionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-product-wrapper">
                            <div class="product-img">
                                <img th:src="@{/images/product-img/tapete.webp}" alt="">
                                <img class="hover-img" th:src="@{/images/product-img/tapete.webp}" alt="">

                            </div>
                            <div class="product-description">
                                <span>Pet Tades</span>
                                <a href="produto-interno.html">
                                    <h6>Tapete Higiênico</h6>
                                </a>
                                <p class="product-price">R$35.00</p>

                                <div class="hover-content">
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn">Adicionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img th:src="@{/images/logo.png}" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="todos-produtos.html">Produtos</a></li>
                                <li><a href="#">Contato</a></li>
                                <li><a href="#">Sobre</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        Projeto criado pelo grupo Alpha - Centro Universitário Senac 2019
                    </p>
                </div>

                <div class="col-md-12 text-center">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/classy-nav.min.js}"></script>
    <script th:src="@{/js/active.js}"></script>

    <script>
        $( document ).ready(function() {
            var bg = Math.floor((Math.random() * 7) + 1);
            $("#sliderprincipal").css("background-image","url('../static/images/slider-3.jpg')");
        });
        
    </script>

</body>

</html>