<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 style="text-align: center">Gerenciamento de Produtos</h1>

    <div class="alert alert-success" th:if="${#httpServletRequest.getParameter('sucesso') == 'true'}">
        Produto Excluido com sucesso
    </div>

    <div class="alert alert-success" th:if="${#httpServletRequest.getParameter('insert') == 'true'}">
        Produto Inserido com sucesso
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.idProduto}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.ativo == 1? 'Disponivel' : 'Indisponivel'}" th:style="${produto.ativo == 1 ? 'color: green;' : 'color: red;'}"></td>
            <td>
                <a class="btn btn-primary col-md-4" th:href="@{/admin/alterar/{id}(id=${produto.idProduto})}">Alterar</a>
                &nbsp;&nbsp;
                <a class="btn btn-danger col-md-4 excluiProduto" th:attr="idProduto = ${produto.idProduto}, nomeProduto = ${produto.nome}" th:href="@{/admin/excluir/{id}(id=${produto.idProduto})}">Excluir</a>

            </td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remover Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Deseja remover o produto <span id="nomeProdutoModal"></span>?</div>
                </div>
                <div class="modal-footer">
                    <a href="/produto"><button id="sim" class="btn btn-success" >Sim</button></a>
                    <button id="naoexcluir" class="btn btn-secondary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-success" th:href="@{/admin/adicionar}">Adicionar Novo</a>

</div>
<script>

    $( ".excluiProduto" ).click(function(e) {
        e.preventDefault();
        var nomeProduto = $(this).attr("nomeProduto");
        var idProduto = $(this).attr("idProduto");
        $("#exampleModal").modal('show');
        $("#nomeProdutoModal").text(nomeProduto);

        $('#sim').closest('a').attr('href', $(this).attr('href'));

    });



</script>

</body>
</html>